@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);

$Poppins: 'Poppins', sans-serif;

// Primary Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral
$darkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$lightGray: hsl(0, 0%, 98%);
$mobile: 575.98px;
$ipad: 767.98px;
$ipadPro: 1025px;
$xl: 1200px;
$desktop: 1440px;
$lg: 1441px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin ipad {
    @media (min-width: 576px) and (max-width: #{$ipad}) {
        @content;
    }
}

@mixin ipadPro {
    @media (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}
@mixin large {
    @media (min-width: 992px) and (max-width: 1199.98px)  {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$xl}) {
        @content;
    }
}
